{% extends 'base.html.twig' %}

{% block header %}
    <h2>Ce-ci est la page Hello</h2>
{% endblock %}
    
{% block body %}
    <p>Tu t'appelle {{prenom}} et tu as {{age}} ans</p>
    <button type="button" class="btn btn-primary">Primary</button>
{% endblock %}
